.sidebar {
    width: 50%;
    float: left;
}

.images {
    width: 50%;
    float: right;
    opacity: 0.6;
}

.sidebar p {
    width: 100vw;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-align: center;
    font-size: 128px;
}

h1 {
    text-align: center;
}
