div {
    width: 95%;
    max-width: 600px;
    margin: 0 auto;
    clear: both;
}

.intro {
    width: 100%;
}

.paragraphs p {
    width: 50%;
    float: left;
}

.intro h2 {
    color: rgb(206, 166, 243);
}

.intro p {
    font-family: sans-serif;
}

.intro img {
    width: 100%;
}

#super-boring {
    font-size: 90px;
    color: rgb(79, 57, 100);
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-transform: uppercase;
}

.no-float {
    clear: left;
}
